html
  head
    title='Docker FTW'
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Hello Docker learners!!!
        h2 Wake up Guys !!
        p

          a.btn.btn-outline-primary(href="https://youtu.be/HCjNJDNzw8Y") Dance         
          
        p
        p Be careful. The last time I updated the packages in this app was Feb 2024.
        img(src='https://kinsta.com/wp-content/uploads/2021/11/learn-html-1024x512.png')
